@using AdvertisingCompany.Models
@model IndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                   Name Responsible Officer
                </th>
                <th>
                    Adress
                </th>
                <th>
                    PhoneNumber
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ResponsibleOfficers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameResponsibleOfficer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResponsibleOfficerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResponsibleOfficerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResponsibleOfficerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
