@model AdvertisingCompany.Models.Order

@{
    Layout = "_Layout";
    ViewData["Title"] = "Заказы - удаление";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <h4>Заказы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBegin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBegin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Servise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servise)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.NameClient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.NameClient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsibleOfficers.NameResponsibleOfficer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsibleOfficers.NameResponsibleOfficer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location.NameLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.NameLocation)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderID" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
