@using AdvertisingCompany.Models
@using AdvertisingCompany.ViewModels
@model IndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Заказы";
}

<h2>Заказы</h2>

<p>
    <a asp-action="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.DateSort)">Дата начала</a>
                </th>
                <th>
                    Дата окончания
                </th>
                <th>
                    Сервис
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.PriceSort)">Цена</a>
                </th>
                <th>
                    Отметка
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.NameClientSort)">Клиент</a>
                </th>
                <th>
                    Сотрудник
                </th>
                <th>
                    Имя локации
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.NameClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibleOfficers.NameResponsibleOfficer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.NameLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.OrderID">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
