@using AdvertisingCompany.Models
@using AdvertisingCompany.ViewModels
@model IndexViewModel
<!--импортируем tag-хелперы проекта-->
@addTagHelper "*, AdvertisingCompany"
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                   Date
                </th>
                <th>
                    <sort-header action="Index" up="@Model.SortViewModel.Up"
                                 current="@Model.SortViewModel.Current" property="@Model.SortViewModel.DateSort">
                        Date of begin
                    </sort-header>
                </th>
                <th>
                    Date of end
                </th>
                <th>
                    Servise
                </th>
                <th>
                    <sort-header action="Index" up="@Model.SortViewModel.Up"
                                                     current="@Model.SortViewModel.Current" property="@Model.SortViewModel.PriceSort">
                        Price
                    </sort-header>
                </th>
                <th>
                    Payment note
                </th>
                <th>
                    <sort-header action="Index" up="@Model.SortViewModel.Up"
                                 current="@Model.SortViewModel.Current" property="@Model.SortViewModel.NameClientSort">
                        Client
                    </sort-header>
                </th>
                <th>
                    Responsible officer
                </th>
                <th>
                    Location name
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.NameClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibleOfficers.NameResponsibleOfficer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.NameLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
