@model AdvertisingCompany.Models.Client
@using AdvertisingCompany.Models

@{
    Layout = "_Layout";
    ViewData["Title"] = "Клиенты - подробно";
}

<h2>Подробно</h2>

<div>
    <h4>Клиенты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameClient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameClient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientID">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
