@using AdvertisingCompany.Models
@model IndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Данные о прессе";
}
<h2>Данные о рекламе, размещенной в газетах за текущий месяц</h2>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата размещения
            </th>
            <th>
                Локация
            </th>
            <th>
                Место размещения
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locationc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}