@model AdvertisingCompany.Models.Location

@{
    Layout = "_Layout";
    ViewData["Title"] = "Локации - подробно";
}

<h2>Подробно</h2>

<div>
    <h4>Локации</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalServise.NameAdditionalServise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalServise.NameAdditionalServise)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeAdvertising.NameTypeAdvertising)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeAdvertising.NameTypeAdvertising)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LocationID">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
