@model AdvertisingCompany.Models.Location

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalServise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalServise.NameAdditionalServise)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeAdvertising)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeAdvertising.NameTypeAdvertising)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LocationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
