@using AdvertisingCompany.Models
@model IndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Локации";
}

<h2>Локации</h2>

<p>
    <a asp-action="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Имя локации
                </th>
                <th>
                    Локация
                </th>
            <th>
                Дополнительный сервис
            </th>
            <th>
                Тип рекламы
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Locations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalServise.NameAdditionalServise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeAdvertising.NameTypeAdvertising)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.LocationID">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.LocationID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}