@model AdvertisingCompany.Models.TypeAdvertising

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TypeAdvertising</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameTypeAdvertising)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameTypeAdvertising)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscriptionTypeAdvertising)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscriptionTypeAdvertising)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TypeAdvertisingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
