@model AdvertisingCompany.Models.AdditionalServise

@{
    Layout = "_Layout";
    ViewData["Title"] = "Дополнительный сервис - подробно";
}

<h2>Подробно</h2>

<div>
    <h4>Дополнительный сервис</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameAdditionalServise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameAdditionalServise)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscriptionAdditionalServise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscriptionAdditionalServise)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdditionalServiseID">Изменить</a> |
    <a asp-action="Index">Вернутся к списку</a>
</div>
