@using AdvertisingCompany.Models
@model IndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Дополнительный сервис";
}

<h2>Дополнительный сервис</h2>
<p>
    <a asp-action="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Наименование
                </th>
                <th>
                    Описание
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AdditionalServises) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAdditionalServise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscriptionAdditionalServise)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdditionalServiseID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.AdditionalServiseID">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.AdditionalServiseID">Удалить</a>
            </td>
        </tr>}
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
